body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    margin: 0 auto;
}

/* Navbar */
.navcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin: 0 auto;
}

.navbar {
    background: linear-gradient(to right, #0f0f0f, #1b1b1b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ccc;
}

.about-section {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mission-section {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 30px;
    background-color: #fffacd; /* Light yellow shade */
}

.history-section {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 30px;
    background-color: #fff8dc; /* Light yellow shade */
}

.team-section {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 30px;
    background-color: #fafad2; /* Light yellow shade */
}

.story-section {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 30px;
    background-color: #ffffe0; /* Light yellow shade */
}
.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}
