/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  scroll-behavior: smooth;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/jean-marc-vieregge-cDKqFb-NOZc-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(6px);
  z-index: -1;
}

header {
  background: linear-gradient(to right, rgba(51, 51, 51, 0.8), rgba(85, 85, 85, 0.8));
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  animation: headerSlideDown 1.2s ease-in-out;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  animation: fadeIn 1s ease-in-out;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff8ef;
  color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(28, 27, 27, 0.336);
  animation: slideIn 1.2s ease-in-out;
}

.container2 {
  background-color: rgba(211, 207, 207, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}

.container2 h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.container2 section {
  margin-bottom: 20px;
}

.container2 section h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.container2 section p {
  color: #6c757d;
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 1rem;
}

.container2 section ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: disc;
}

.container2 section ul li {
  margin-bottom: 10px;
  color: #555;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #FFFFFF;
  animation: fadeIn 1s ease-in-out;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 10px;
  animation: fadeIn 1.2s ease-in-out;
}

.footer {
  background: #000000;
  color: #fff;
  text-align: center;
  z-index: 5;
  min-height: 100px;
}

.footer h2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info {
  max-width: 400px;
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  padding-bottom: 10px;
}

.social-icon:hover {
  color: #3e3636;
}

.copyright {
  font-size: 0.9rem;
  padding: 1px 10px;
  background-color: #222;
}

.copyright p {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerSlideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }

  header h1 {
    font-size: 2rem;
  }

  main {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  #scrollBtn {
    display: none !important;
  }
}

#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollBtn:hover {
  background-color: #0056b3;
  transform: scale(1.2);
}
