/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.subcontent{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* display: flex; */
    max-width: 330px;
    background-color: #333;
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.login-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #555;
}

.forgot-password {
    text-decoration: none;
    color: #333;
}

.forgot-password:hover {
    text-decoration: underline;
}
